body{

	background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4e/Pleiades_large.jpg");
}

#inputs{
position:absolute;
top:0px;
height:50px;
width: 100%;
background-color: transparent;
font-size: 40px;
color:white;
text-align: center;
font-weight: 900;


}

#mainspace{
	position: absolute;
	top: 55px;
	right: 15%;
	width: 70%;
	height: 80%;
	background-color: transparent;

}




#c{
	position: absolute;
	top:0px;
	left: 0%;
	width: 100%;
	height: 100%;
	/*padding: 25px;
    border: 25px solid navy;
    margin: 25px;*/

}
#countrybox{

	position: absolute;
	top:55px;
	right: 1%;
	width:13%;
	height:90%;
	background-color: transparent;
	border: dashed;

}

	#countryadd{
		position: relative;
		/*top:2px;
		right: 3%;*/
		margin: 2px;
		width:95%;
		height:40px;
		background-color: transparent;
	}
		#theInput{
			position: absolute;
			top: 3px;
			left: 2%;
			width: 100%;
			height: 30px;
			border: dashed;
			border-color: green;
			background-color: transparent;
			color:green;
			font-size: 20px;
		}

	#countryadd1{
		position: relative;
		/*top:2px;
		right: 3%;*/
		margin: 2px;
		width:95%;
		height:40px;
		background-color: transparent;
	}

		#countryinfo{
			position:relative;
			margin:2px;
			
			width: 95%;
			height: 34px;
			font-size: 14px;
		}
		#deleteButton{
			position:relative;
			/*right:20px;
			bottom:2px;
			width:80%;
			height:38px;*/
			margin-top: 20px;
			margin-bottom: 20px;
			font-size: 80%;
			width:100%;
			height:40px;
			border: dashed;
			background-color:red;
			/*filter: alpha(opacity=40)*/
			opacity: 0.3;
			font-weight: 900;
		}
		#proportionalityb{
			position:absolute;
			margin:2px;
			bottom: 2%;
			background-color: transparent;
			width: 95%;
			height: 20%;
			font-size: 14px;
		}
		#radius{
			position:absolute;
			margin:2px;
			top: 2%;
			left:2%;
			width: 90%;
			height: 40%;
			font-size: 150%;
			border: dashed;
			background-color: blue;
			opacity:0.3;
			font-weight: 900;
		}
		#volume{
			position:absolute;
			margin:2px;
			bottom: 2%;
			
			width: 95%;
			height: 40%;
			font-size: 150%;
			border: dashed;
			background-color: blue;
			opacity:0.3;
			font-weight: 900;
		}



#infobox{

	position: absolute;
	bottom:1%;
	right: 15%;
	width:70%;
	height:4%;
	background-color: transparent;
	border: dashed;

}
#reposition{
	position:relative;
	/*right:20px;
	bottom:2px;
	width:80%;
	height:38px;*/
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 100%;
	width:100%;
	height:40px;
	border: dashed;
	background-color:orange;
	/*color: white;*/
	font-weight: 900;
	/*filter: alpha(opacity=40)*/
	opacity: 0.3;





}


#scrollable{

	position: absolute;
	bottom:6%;
	right: 15%;
	width:70%;
	height:3%;
	background-color: transparent;


}

#buttons{

	position: absolute;
	top: 55px;
	left: 1%;
	width:13%;
	height:90%;
	background-color: transparent;
	border: dashed;

}
	#indicators{

		position: absolute;
		top: 1%;
		left: 0%;
		width:100%;
		height:64%;
		background-color: transparent;
		border: dashed;

	}

	.indicator{
		float: left;
		background-color: transparent;
		margin-left: 2px;
		margin-top: 13px;
		margin-right: 5px;
		height:50px;
		width:46%;

	}

	#animate{

		position: absolute;
		bottom: 5px;
		left: 5%;
		width:90%;
		height:24%;
		background-color: transparent;

	}

	#animate1{

		position: absolute;
		bottom: 5px;
		left: 5%;
		width:90%;
		height:40%;
		/*background-color: grey;*/
		border: dashed;
		background-color:green;
		font-size:150%;
		/*filter: alpha(opacity=40)*/
		opacity: 0.3;
		font-weight: 900;

	}
	#yearInput{

		position: absolute;
		top: 5px;
		left: 5%;
		width:90%;
		height:24%;
		/*background-color: grey;*/
		border: dashed;
		border-color:blue;
		background-color: transparent;
		color:blue;

	}
#GDPPPP{
	position:relative;
	border:dashed;
	background-color: yellow;
	opacity:0.3;
	border-radius: 25px;
	width:100%;
	margin-top:5px;
	margin-bottom: 5px;
	height:40px;
	font-size:100%;
	font-weight: 900;
}

#GDPPPPpercapita{
	position:relative;
	border:dashed;
	background-color: yellow;
	opacity:0.3;
	border-radius: 25px;
	width:100%;
	margin-top:5px;
	margin-bottom: 5px;
	height:40px;
	font-size:80%;
	font-weight: 900;
}

#TotalPopulation{
	position:relative;
	border:dashed;
	background-color: yellow;
	opacity:0.3;
	border-radius: 25px;
	width:100%;
	margin-top:5px;
	margin-bottom: 5px;
	height:40px;
	font-size:100%;
	font-weight: 900;
}

#ForeignDirectInvestment{
	position:relative;
	border:dashed;
	background-color: yellow;
	opacity:0.3;
	border-radius: 25px;
	width:100%;
	margin-top:5px;
	margin-bottom: 5px;
	height:40px;
	font-size:70%;
	font-weight: 900;
}

#LifeExpectancy{
	position:relative;
	border:dashed;
	background-color: yellow;
	opacity:0.3;
	border-radius: 25px;
	width:100%;
	margin-top:5px;
	margin-bottom: 5px;
	height:40px;
	font-size:100%;
	font-weight: 900;
}

#CO2Emissions{
	position:relative;
	border:dashed;
	background-color: yellow;
	opacity:0.3;
	border-radius: 25px;
	width:100%;
	margin-top:5px;
	margin-bottom: 5px;
	height:40px;
	font-size:100%;
	font-weight: 900;
}
#UrbanPopulationProportion{
	position:relative;
	border:dashed;
	background-color: yellow;
	opacity:0.3;
	border-radius: 25px;
	width:100%;
	margin-top:5px;
	margin-bottom: 5px;
	height:40px;
	font-size:100%;
	font-weight: 900;
}
#Unemployment{
	position:relative;
	border:dashed;
	background-color: yellow;
	opacity:0.3;
	border-radius: 25px;
	width:100%;
	margin-top:5px;
	margin-bottom: 5px;
	height:40px;
	font-size:100%;
	font-weight: 900;
}

/*img{

	z-index:100;
}*/

#loading{
	position:absolute;
	top:3%;
	left:2%;
	width:96%;
	height:96%;
	background-color:black;
	opacity:0.9;
	z-index:100;
	color:white;
	font-size:50px;

}

#loadingfield{
	position:absolute;
	top:10%;
	left:20%;
	width:50%;
	height:10%;
	background-color:black;
	opacity:0.5;
	z-index:110;
	color:white;
	text-align: center;
	font-size:30px;

}

#loadimg{
	position:absolute;
	left:20%;
	top:10%;
	width:300px;
	height:300px;
	z-index:120;
}